{
  "./src/**/*.{ts,tsx}": [
    "prettier --config .prettierrc --parser typescript --write",
    "stylelint",
    "git add"
  ],
  "{./content/**/*.md,./README.md}": [
    "prettier --config .prettierrc --parser markdown --write ",
    "git add"
  ]
}
