version: 2

jobs:
  build:
    docker:
      - image: circleci/node:chakracore-8
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: codemanufacturecom-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install node.js dependencies
          command: yarn install
      - save_cache:
          key: codemanufacturecom-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Check Prettier, TSLint
          command: yarn ci-check
      - run: 
          name: Build the website
          command: yarn build
      - store_artifacts:
          path: public
          destination: codemanufacturecom-website
      - persist_to_workspace:
          root: ~/repo
          paths:
            - public      
  deploy:
    docker:
      - image: circleci/python:2.7
    working_directory: ~/
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run: 
          name: Deploy to S3
          command: aws s3 sync repo/public s3://codemanufacture.com/ --delete
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master

