{{ define "main" }}
<section class="py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <header class="mx-auto max-w-2xl text-center mb-16">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blog</h1>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Insights and best practices for Magento development.
      </p>
    </header>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ range .Pages }}
        {{ partial "blog-post-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
