{{ define "main" }}
<section class="blog-listing">
  <div class="blog-listing__bg">
    <div></div>
  </div>
  <div class="blog-listing__inner">
    <div class="blog-listing__header">
      <h1 class="blog-listing__title">Blog</h1>
      <p class="blog-listing__subtitle">
        Insights and best practices for Magento development.
      </p>
    </div>
    <div class="blog-listing__grid">
      {{ range .Pages }} {{ partial "blog-post-card.html" . }} {{ end }}
    </div>
  </div>
</section>
{{ end }}
