{{ define "main" }}
<!-- JSON-LD Schema -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": {{ .Title | jsonify }},
    {{ with .Params.summary }}"description": {{ . | jsonify }},{{ end }}
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    {{ with .Lastmod }}"dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}",{{ end }}
    "url": "{{ .Permalink }}",
    {{ with .Params.image }}"image": "{{ . | absURL }}",{{ end }}
    {{ with .Params.authors }}
    {{ $authorId := index . 0 }}
    {{ $authors := $.Site.Data.authors }}
    {{ $author := index $authors $authorId }}
    {{ if $author }}
    "author": {
      "@type": "Person",
      "name": {{ $author.name | jsonify }}
      {{- with $author.linkedin -}},
      "url": {{ . | jsonify }}
      {{- end }}
    },
    {{ end }}
    {{ end }}
    "publisher": {
      "@type": "Organization",
      "name": "Codemanufacture",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}images/logo.svg"
      }
    },
    "inLanguage": "en-GB",
    {{ with .Params.tags }}"keywords": {{ . | jsonify }},{{ end }}
    "wordCount": {{ .WordCount }},
    "articleBody": {{ .Plain | jsonify }}
  }
</script>

<article class="blog-post">
  <div class="blog-post__inner">
    <header class="blog-post__header">
      <div class="blog-post__tags">
        <time datetime='{{ .Date.Format "2006-01-02" }}' class="blog-post__date">
          {{ .Date.Format "January 2, 2006" }}
        </time>
        {{ range .Params.tags }}
        <span class="blog-post__tag">{{ . }}</span>
        {{ end }}
      </div>
      <h1 class="blog-post__title">{{ .Title }}</h1>
      {{ with .Params.summary }}
      <p class="blog-post__summary">{{ . }}</p>
      {{ end }} {{ with .Params.authors }} {{ $authorId := index . 0 }} {{
      $authors := $.Site.Data.authors }} {{ $author := index $authors $authorId
      }} {{ if $author }}
      <div class="blog-post__author">
        {{ if $author.showAvatar }}
        <img
          src="{{ $author.avatar }}"
          alt="{{ $author.name }}"
        />
        {{ end }}
        <div class="blog-post__author-info">
          <p class="blog-post__author-name">{{ $author.name }}</p>
          <p class="blog-post__author-role">{{ $author.role }}</p>
        </div>
      </div>
      {{ end }} {{ end }}
    </header>
    <div class="prose">{{ .Content }}</div>
    <footer class="blog-post__footer">
      <a href="/blog/">
        <span aria-hidden="true">&larr;</span> Back to all posts
      </a>
    </footer>
  </div>
</article>
{{ end }}
