<article class="post-card">
  <div class="post-card__body">
    <div class="post-card__content">
      {{ if .Draft }}
      <div>
        <p class="post-card__title">{{ .Title }}</p>
        <p class="post-card__summary">
          {{ with .Params.summary }}{{ . }}{{ else }}{{ .Summary }}{{ end }}
        </p>
      </div>
      {{ else }}
      <a href="{{ .RelPermalink }}">
        <p class="post-card__title">{{ .Title }}</p>
        <p class="post-card__summary">
          {{ with .Params.summary }}{{ . }}{{ else }}{{ .Summary }}{{ end }}
        </p>
      </a>
      {{ end }}
    </div>
    <div class="post-card__meta">
      {{ with .Params.authors }} {{ $authorId := index . 0 }} {{ $authors :=
      $.Site.Data.authors }} {{ $author := index $authors $authorId }} {{ if
      $author }}
      <div class="post-card__avatar">
        {{ if $author.showAvatar }}
        <span class="sr-only">{{ $author.name }}</span>
        <img src="{{ $author.avatar }}" alt="{{ $author.name }}" />
        {{ end }}
      </div>
      <div class="post-card__author">
        <p class="post-card__author-name">{{ $author.name }}</p>
        <div class="post-card__author-details">
          {{ if not $.Draft }}
          <time datetime='{{ $.Date.Format "2006-01-02" }}'
            >{{ $.Date.Format "Jan 2, 2006" }}</time
          >
          <span aria-hidden="true">&middot;</span>
          <span
            >{{ math.Round (div (countwords $.Plain) 200.0) }} min read</span
          >
          {{ else }}
          <span>Coming soon</span>
          {{ end }}
        </div>
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</article>
