<footer class="site-footer" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="site-footer__inner">
    <nav class="site-footer__nav" aria-label="Footer">
      <div><a href="/">Home</a></div>
      <div><a href="/#services">Services</a></div>
      <div><a href="/#blog">Blog</a></div>
      <div><a href="/#contact">Contact</a></div>
      <div><a href="/privacy-policy/">Privacy</a></div>
    </nav>
    <div class="site-footer__social">
      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/company/codemanufacture"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">LinkedIn</span>
        {{- partial "icons/social-linkedin-24.html" -}}
      </a>
      <!-- Twitter -->
      <a
        href="https://twitter.com/codemanufacture"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Twitter</span>
        {{- partial "icons/social-twitter-24.html" -}}
      </a>
      <!-- GitHub -->
      <a
        href="https://github.com/codemanufacture"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">GitHub</span>
        {{- partial "icons/social-github-24.html" -}}
      </a>
    </div>
    <p class="site-footer__copyright">
      &copy; {{ now.Year }} Codemanufacture SRLS. All rights reserved. Partita
      iva: 12607110967
    </p>
  </div>
</footer>
