<header class="site-header">
  <div class="site-header__inner">
    <div class="site-header__row">
      <!-- Logo -->
      <div class="site-header__logo">
        <a href="/">
          <span class="sr-only">Codemanufacture</span>
          <img src="/images/logo.svg" alt="Codemanufacture" />
        </a>
      </div>

      <!-- Mobile menu button -->
      <div class="site-header__menu-toggle">
        <button
          type="button"
          id="mobile-menu-button"
          aria-expanded="false"
        >
          <span class="sr-only">Open menu</span>
          <span class="site-header__menu-icon" id="menu-icon-open">
            {{- partial "icons/icon-menu-open.html" -}}
          </span>
          <span class="site-header__menu-icon hidden" id="menu-icon-close">
            {{- partial "icons/icon-menu-close.html" -}}
          </span>
        </button>
      </div>

      <!-- Desktop Navigation -->
      <div class="site-header__nav">
        <nav>
          <a href="/">Home</a>
          <a href="/#services">Services</a>
          <a href="/#blog">Blog</a>
          <a href="/#contact">Contact</a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Mobile menu panel -->
  <div class="site-header__mobile-panel hidden" id="mobile-menu">
    <div class="site-header__mobile-card">
      <div class="site-header__mobile-top">
        <div class="site-header__mobile-top-bar">
          <div>
            <img src="/images/logo.svg" alt="Codemanufacture" />
          </div>
          <div class="site-header__mobile-close">
            <button type="button" id="mobile-menu-close">
              <span class="sr-only">Close menu</span>
              {{- partial "icons/icon-menu-close.html" -}}
            </button>
          </div>
        </div>
        <div class="site-header__mobile-nav">
          <nav>
            <a href="/">Home</a>
            <a href="/#services">Services</a>
            <a href="/#blog">Blog</a>
            <a href="/#contact">Contact</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
