{{ define "main" }}
<!-- Services Section -->
<section id="services" class="relative bg-white py-14 sm:py-20 lg:py-24">
  <div
    class="mx-auto max-w-md px-6 text-center sm:max-w-3xl lg:max-w-7xl lg:px-8"
  >
    <h2 class="text-lg font-semibold text-sky-600">Services</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Manufacturing your success
    </p>
    <div class="mt-20">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
        {{ range .Site.Data.services }}
        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span
                  class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-3 shadow-lg"
                >
                  <div class="h-8 w-8 text-white">
                    {{ if eq .icon "shopping-cart" }}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                      />
                    </svg>
                    {{ else if eq .icon "wrench" }}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"
                      />
                    </svg>
                    {{ else if eq .icon "code" }}
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
                      />
                    </svg>
                    {{ end }}
                  </div>
                </span>
              </div>
              <h3
                class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
              >
                {{ .name }}
              </h3>
              <p class="mt-5 text-base leading-7 text-gray-600">
                {{ .description }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ $posts := where .Site.RegularPages "Section" "blog" }} {{ $publishedPosts :=
where $posts ".Draft" false }} {{ if gt (len $publishedPosts) 0 }}
<!-- Blog Preview Section -->
<section
  id="blog"
  class="relative bg-gray-50 px-6 pt-10 pb-16 lg:px-8 lg:pt-14 lg:pb-28"
>
  <div class="absolute inset-0">
    <div class="h-1/3 bg-white sm:h-2/3"></div>
  </div>
  <div class="relative mx-auto max-w-7xl">
    <div class="text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        From the blog
      </h2>
    </div>
    <div class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
      {{ range first 3 $publishedPosts }} {{ partial "blog-post-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<!-- Contact Section -->
<section id="contact" class="relative bg-white">
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="py-16 px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
      <div class="mx-auto max-w-lg">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          Let's work together
        </h2>
        <p class="mt-3 text-lg leading-6 text-gray-500">
          We'd love to hear from you! Send us a message using email or give us a
          call.
        </p>
        <dl class="mt-8 text-base text-gray-500">
          <div class="mt-6">
            <dt class="sr-only">Phone number</dt>
            <dd class="flex">
              <svg
                class="h-6 w-6 flex-shrink-0 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>
              <span class="ml-3">+39 345 523 5101</span>
            </dd>
          </div>
          <div class="mt-3">
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              <svg
                class="h-6 w-6 flex-shrink-0 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
              <span class="ml-3">
                <a
                  href="mailto:contact@codemanufacture.com"
                  class="text-sky-600 hover:text-sky-500"
                >
                  contact@codemanufacture.com
                </a>
              </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section class="bg-gray-50">
  <div class="mx-auto max-w-7xl pt-10 pb-20 px-6 lg:px-8 lg:pt-12 lg:pb-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
          Meet our team
        </h2>
        <p class="text-xl text-gray-500">
          A small team of seasoned Magento developers with over a decade of
          experience.
        </p>
      </div>
      <div class="lg:col-span-2 md:mt-12">
        <ul
          role="list"
          class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8"
        >
          {{ range $id, $person := .Site.Data.authors }}
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              {{ if $person.showAvatar }}
              <img
                class="h-16 w-16 rounded-full lg:h-20 lg:w-20"
                src="{{ $person.avatar }}"
                alt="{{ $person.name }}"
              />
              {{ end }}
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>{{ $person.name }}</h3>
                <p class="text-sky-600">{{ $person.role }}</p>
                <ul role="list" class="flex space-x-5">
                  {{ with $person.twitter }}
                  <li>
                    <a
                      href="{{ . }}"
                      class="text-gray-400 hover:text-gray-500"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span class="sr-only">Twitter</span>
                      <svg
                        class="h-5 w-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"
                        />
                      </svg>
                    </a>
                  </li>
                  {{ end }} {{ with $person.linkedin }}
                  <li>
                    <a
                      href="{{ . }}"
                      class="text-gray-400 hover:text-gray-500"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span class="sr-only">LinkedIn</span>
                      <svg
                        class="h-5 w-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
